#main_home
  %h1 Welcome to Karma!
  %h2 A free community of helpful people.
  %h2 A place to solve your biggest challenge in life
  %p
  = render 'sign_up'
  %p
    %span.red *
    This site is in alpha and is currently invite only.
  %p
    638 needs solved as of 03/2012.