- title "Karma - " + current_user.name

%section#new_need_container
  %blockquote
    %p Describe your biggest challenge in your life right now.  Examples:
    %p - I'm in-between jobs right now and could use help finding a new opportunity.
    %p - I am looking to hire a new employee at my company.
    %p - I'd like a good recommendation for a lawyer in the San Francisco area
    %p - I'm looking to start a new hobby and would love to have friends who can try it with me
    %p - I need some feedback on my business plan
    %p - I'm looking for customers for my business
    %p
    %p Try to focus on what you can't find using a quick google search, but that you need a real person to help you solve.
    %p Be as specific as possible.  You'll have the opportunity to share this with your friends and others to help you.
  = render 'form'