- title "Thanks!"
- font "http://fonts.googleapis.com/css?family=Permanent+Marker"

#needs_thanks
  %h1 All Done!
  %p You'll receive an email when someone offers to help you.
  %p You'll also receive an email if your friends need help with anything!
  %p There's nothing else to do, but you can push this button if you'd like:
  .center
    .blue_button Patience