- title "Add Your Email"

#edit_user
  %h1 Awesome, just one more step!

  %p Please add your email address.
  = render "form"

  %p#no_spam_disclaimer
    %span.red *
    We will never spam or sell your email address.