- if !@query.mentor.name.nil?
  Hi #{@query.mentor.first_name},
- else
  Hi,

:plain

  Thanks for volunteering earlier to help entrepreneurs with their challenges.

  User '#{@query.user.name}' has posted the following question.  We thought you'd be a possible fit to help answer it.

  Do you have time to help out?

  Please reply to this email to send him a message!  Here is his question:


  #{@query.question}


  PS: if you're not getting the help you need (or run into a bug,) let us know by emailing: karma@trikro.com

  Cheers,
  Ed & Tristan