%p
- if !@query.mentor.name.nil?
  Hi #{@query.mentor.first_name},
- else
  Hi,
%p
  Thanks for volunteering earlier to help entrepreneurs with their challenges.
%p
  User '#{@query.user.name}' has posted the following question.  We thought you'd be a possible fit to help answer it.
%p
  Do you have time to help out?
%p
  Please reply to this email to send him a message!  Here is his question:
%p
%p
  #{@query.question}
%p
%p
%p
  PS: if you're not getting the help you need (or run into a bug,) let us know by emailing: karma@trikro.com
%p
  Cheers,
  Ed & Tristan