- if !@user.name.nil?
  Hi #{@user.first_name},
- else
  Hi,

:plain
  Thanks! You're signed up to #{root_url}

  When you can't find the answer on Google or Quora, talk to a human.

  We help you find the right human.

  So if you're not getting the help you need (or run into a bug,) let us know by emailing: karma@trikro.com

  Cheers,
  Ed & Tristan