%p
  - if !@user.name.nil?
    Hi #{@user.first_name},
  - else
    Hi,

%p
  Thanks! You're signed up to
  = link_to "Karma", root_url

%p A place where you can list your needs in life, and get help solving them through your friends.
%p
  So if you're not getting the help you need (or run into a bug,)
  = mail_to "edward.w.roman@gmail.com", "let us know!"
%p
  Cheers,
  %br
  Ed