%p
  - if !@user.name.nil?
    Hi #{@user.first_name},
  - else
    Hi,

%p
  Thanks! You're signed up to
  = link_to "Karma", root_url

%p When you can't find the answer on Google or Quora, talk to a human.
%p We help you find the right human.
%p
  So if you're not getting the help you need (or run into a bug,)
  = mail_to "karma@trikro.com", "let us know!"
%p
  Cheers,
  %br
  Ed & Tristan