- title "New Query for " + current_user.name

%section#new_query_container
  %blockquote
    %p Karma moves in two directions.
    %p If we act virtuously, the seed we plant will result in happiness.
    %p If we act non-virtuously, suffering results.
    .author - Sakyong Mipham
  = render 'form'