- title "Thanks!"
- font "http://fonts.googleapis.com/css?family=Permanent+Marker"

#queries_thanks
  %h1 What's Next?
  %p We've received your question and are finding the best person to help.
  %p Expect an update in the next 48 hours.
  %p There's nothing else to do, but you can push this button if you'd like:
  .center
    .blue_button Patience