= render 'layouts/mailer_footer_css'

.footer
  = link_to root_path, :id => 'logo' do
    कर्म &#8226; Karma
    %span
      \- "You can have everything in life you want, if you will just help other people get what they want." -Zig Ziglar