%style{ :type => "text/css", :media => "all" }
  :plain
    .footer{
      border-top: 1px solid #E6E6E6;
      margin-top: 20px;
      padding-top: 5px;
      text-align: center;
      color: #999;
    }

    .footer a{
      color: #333;
      text-decoration: none;
      font-size: 2em;
      font-family: "Apple Chancery", "Zapf Chancery", cursive;
    }

    .footer a:hover{
      border-bottom: 1px solid #111;
    }

    .footer a span{
      font-size: 0.6em;
      font-family: "Courier New", "Courier New", monospace;
    }